{% extends "base.html" %} {% block main %}
<h1>Add New Property</h1>

<form
  action="{{ url_for('create_property') }}"
  method="post"
  enctype="multipart/form-data"
>
  {{ form.csrf_token }}
  <div
    style="
      padding: 30px;
      padding-right: 50px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 20px;
    "
  >
    <div style="display: flex; flex-direction: column; gap: 0px; width: 100%">
      <p style="font-weight: 500">{{ form.property_title.label }}</p>
      {{ form.property_title(**{'class': 'form-control'}) }}
    </div>
    <div style="display: flex; flex-direction: column; gap: 0px; width: 100%">
      <p style="font-weight: 500">{{ form.description.label }}</p>
      {{ form.description(**{'class': 'form-control'}) }}
    </div>
    <div
      style="
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 50px;
        justify-content: space-between;
      "
    >
      <div style="display: flex; flex-direction: column; gap: 0px; width: 100%">
        <p style="font-weight: 500">{{ form.rooms_number.label }}</p>
        {{ form.rooms_number(**{'class': 'form-control'}) }}
      </div>
      <div style="display: flex; flex-direction: column; gap: 0px; width: 100%">
        <p style="font-weight: 500">{{ form.bathrooms_number.label }}</p>
        {{ form.bathrooms_number(**{'class': 'form-control'}) }}
      </div>
    </div>
    <div
      style="
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 50px;
        justify-content: space-between;
      "
    >
      <div style="display: flex; flex-direction: column; gap: 0px; width: 100%">
        <p style="font-weight: 500">{{ form.price.label }}</p>
        {{ form.price(**{'class': 'form-control'}) }}
      </div>
      <div style="display: flex; flex-direction: column; gap: 0px; width: 100%">
        <p style="font-weight: 500">{{ form.property_type.label }}</p>
        {{ form.property_type(**{'class': 'form-select'}) }}
      </div>
    </div>
    <div
      style="
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 50px;
        justify-content: space-between;
      "
    >
      <div style="display: flex; flex-direction: column; gap: 0px; width: 100%">
        <p style="font-weight: 500">{{ form.location.label }}</p>
        {{ form.location(**{'class': 'form-control'}) }}
      </div>
      <div
        style="display: flex; flex-direction: column; gap: 0px; width: 100%"
      ></div>
    </div>
    <div
      style="
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 50px;
        justify-content: space-between;
      "
    >
      <div style="display: flex; flex-direction: column; gap: 0px; width: 100%">
        <p style="font-weight: 500">{{ form.photo.label }}</p>
        {{ form.photo(**{'class': 'form-control'}) }}
      </div>
      <div
        style="display: flex; flex-direction: column; gap: 0px; width: 100%"
      ></div>
    </div>
    <button type="submit" class="btn btn-primary" style="width: 150px">
      Add Property
    </button>
  </div>
</form>
{% endblock %}
