{% extends "base.html" %}

{% block main %}
<a href="javascript:history.go(-1)">Go Back</a>
<div style="border-radius: 5px;display: flex;flex-direction: row;width: 100%;margin-top: 20px;">
  <img src="https://www.mydomaine.com/thmb/bepet4VMGUG70sCLFNQRdZm9bbg=/2048x0/filters:no_upscale():strip_icc()/SuCasaDesign-Modern-9335be77ca0446c7883c5cf8d974e47c.jpg" width="80%" height="300px"/>
  <div style="background-color: white;padding: 20px;border-radius: 5px;display: flex;flex-direction: column;gap: 10px;">
    <h4>Rivendell Manor - Three Bedroom Townhouse</h4>
    <div style="display: flex;flex-direction: row;gap: 10px;">
      <div style="background-color: #4299E1;border-radius: 20px;padding: 5px;display: flex;flex-direction: column;justify-content: center;width: 100px;align-items: center;height: 30px;">
        <h6 style="color: white;margin: 0;margin-bottom: 1;">$25,000,000</h6>
      </div>
      <div style="background-color: #ECC94B;border-radius: 20px;padding: 5px;display: flex;flex-direction: column;justify-content: center;width: 80px;align-items: center;height: 30px;">
        <h6 style="color: white;margin: 0;margin-bottom: 1;">House</h6>
      </div>
    </div>
    <p style="font-weight: 500;font-size: 16px;text-wrap: wrap;">A prized piece of real estate in a quiet and peaceful neighbourhood. Old world charm with modern interior. This beautiful home is perfect for a family, with ample green space for children to play.</p>
    <div style="display: flex;flex-direction: row;gap: 25px;margin-top: -5px;">
      <div style="display: flex;flex-direction: row;gap: 5px;">
        <p>icon</p>
        <p style="font-weight: 500;">3 Bedrooms</p>
      </div>
      <div style="display: flex;flex-direction: row;gap: 5px;">
        <p>icon</p>
        <p style="font-weight: 500;">2.5 Bathrooms</p>
      </div>
    </div>
    <div style="display: flex;flex-direction: row;gap: 5px;margin-top: -5px;">
      <p>icon</p>
      <p style="font-weight: 500;">7 Shire Rd, Hobbiton</p>
    </div>
    <button class="btn" style="background-color: #38B2AC;color: white;width: 150px;">Email Realtor</button>
  </div>

</div>

{% endblock %}
