{% extends "base.html" %}

{% block main %}
{% include 'flash_messages.html' %}
<a href="javascript:history.go(-1)">Go Back</a>
<div style="border-radius: 5px;display: flex;flex-direction: row;width: 100%;margin-top: 20px;">
  <img src="{{ url_for('get_image', filename=property.photo_filename) }}" width="65%" height="300px"/>
  <div style="background-color: white;padding: 20px;border-radius: 5px;display: flex;flex-direction: column;gap: 10px;width: 35%;">
    <h4>{{ property.property_title }}</h4>
    <div style="display: flex;flex-direction: row;gap: 10px;">
      <div style="background-color: #4299E1;border-radius: 20px;padding: 5px;display: flex;flex-direction: column;justify-content: center;width: 50%;align-items: center;height: 30px;">
        <h6 style="color: white;margin: 0;margin-bottom: 1;">{{ format_price(property.price) }}</h6>
      </div>
      <div style="background-color: #ECC94B;border-radius: 20px;padding: 5px;display: flex;flex-direction: column;justify-content: center;width: 40%;align-items: center;height: 30px;">
        <h6 style="color: white;margin: 0;margin-bottom: 1;">{{ property.property_type }}</h6>
      </div>
    </div>
    <p style="font-weight: 500;font-size: 16px;text-wrap: wrap;">{{ property.description }}</p>
    <div style="display: flex;flex-direction: row;gap: 25px;margin-top: -5px;">
      <div style="display: flex;flex-direction: row;gap: 5px;align-content: center;">
        <i class="bi bi-house"></i>
        <p style="font-weight: 500;">{{ property.rooms_number }} Bedrooms</p>
      </div>
      <div style="display: flex;flex-direction: row;gap: 5px;align-content: center;">
        <i class="bi bi-droplet"></i>
        <p style="font-weight: 500;">{{ property.bathrooms_number }} Bathrooms</p>
      </div>
    </div>
    <div style="display: flex;flex-direction: row;gap: 5px;margin-top: -5px;align-content: center;">
      <i class="bi bi-geo-alt"></i>
      <p style="font-weight: 500;">{{ property.location }}</p>
    </div>
    <button class="btn" style="background-color: #38B2AC;color: white;width: 150px;">Email Realtor</button>
  </div>

</div>

{% endblock %}
